html,
body,
body > div:first-child,
div#__next,
div#__next > div {
height: 100%;
}

.antialiased{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    margin-top: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}